
:root{
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #f2f2f2
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

body{
  background: #444;
}


.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0,0,0,0.2);
}

.display{
  padding: 15px;
  text-align: right;
  background: var(--dark);
  color: var(--light);
  font-size: 22px;
  font-weight: 400;
}

.display span{
  font-size: 14px;
  color: #777
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: all ease-in .4s;
}

button:hover{
  opacity: 0.8;
  transition: all ease .4s;
}

.operators{
  display: flex;
}

.operators button{
  flex: 1 1 0%;
  background: var(--primary);
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
  background-color: var(--dark);
}

h1{
  color: var(--light);
  margin-bottom: 30px
}